@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #6d28d9;
  --accentSoft: #f3e8ff;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

a { @apply no-underline; }
